name: Pre Merge Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  test-ios:
    runs-on: macos-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Setup XCode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.2.0

      - name: Install dependencies
        run: npm install --install-links
        working-directory: ReproducerApp

      - name: pod install
        run: pod install
        working-directory: ReproducerApp/ios

      - name: Build iOS (this should fail with 'no type named ResultT')
        run: npm run ios -- --no-packager
        working-directory: ReproducerApp
